*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.l-container{
    width: 100%;
    height: 100vh;
    background-color: #0e141b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-wrapper{
    width:60%;
    height:500px;
    padding-top:30px;
    border:solid 3px  #8e3257;
    border-radius:10px;
    margin:100px auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#1b1e32;
    color: #fff;
    gap: 30px;
}
.l-form{
width: 80%;
height: 30%;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
}

.l-input{
width: 60%;
height:45%;
border: #000000 solid 1px;
border-radius: 10px;
padding-left: 10px;
}

.l-button{
display: flex;
justify-content: center;
align-items: center;
width: 30%;
height:45%;
border-radius:10px ;
border: #000000 solid 1px;
background-color: #8e3257;

}
.l-button:hover{
    letter-spacing: 1px;
    background-color: #8e3257;;
    color: #8e3257;
    transition: all 0.4s ease-in ;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;    
    cursor: pointer;
} 
button{
background-color: #8e3257;
border: none;
color: #ffffff;
font-size: 22px;
cursor: pointer;
}
